# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfplan
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Credenciais e segredos
*.pem
*.key
*.pfx
*.env
.env*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
